pipeline/Copy from Profisee REST API to DB.json
{
	"name": "Copy from Profisee REST API to DB",
	"properties": {
		"activities": [
			{
				"name": "Copy from Profisee REST API to Json",
				"description": "Copy records from Profisee via the Profisee REST API to ADLS Gen2 in CSV format.",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"x-api-key": "59ef40dbd3974ea7917514edc55ea026",
							"content-type": "application/json; charset=utf-8"
						},
						"paginationRules": {
							"AbsoluteUrl": "$.nextPage"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings",
							"filePattern": "setOfObjects"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['data'][0]['internalId']"
								},
								"sink": {
									"name": "internalId"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['id']"
								},
								"sink": {
									"name": "id"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['code']"
								},
								"sink": {
									"name": "code"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['name']"
								},
								"sink": {
									"name": "name"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['first Name']"
								},
								"sink": {
									"name": "first Name"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['last Name']"
								},
								"sink": {
									"name": "last Name"
								}
							},
							{
								"source": {
									"path": "$['data'][0]['tax ID']"
								},
								"sink": {
									"name": "tax ID"
								}
							}
						],
						"collectionReference": "$['data']"
					}
				},
				"inputs": [
					{
						"referenceName": "ProfiseeRESTAPI_Records_Get",
						"type": "DatasetReference",
						"parameters": {
							"entityId": {
								"value": "@variables('EntityId')",
								"type": "Expression"
							},
							"pageSize": 1000,
							"attributes": " ",
							"filter": " ",
							"orderBy": " ",
							"dbaFormat": 1,
							"recordCodes": " "
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Json1",
						"type": "DatasetReference",
						"parameters": {
							"filename": {
								"value": "@variables('EntityId')",
								"type": "Expression"
							},
							"container": {
								"value": "@variables('OutputContainer')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Copy Json file to datbase",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy from Profisee REST API to Json",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"enableSkipIncompatibleRow": true,
					"logSettings": {
						"enableCopyActivityLog": true,
						"copyActivityLogSettings": {
							"logLevel": "Info",
							"enableReliableLogging": false
						},
						"logLocationSettings": {
							"linkedServiceName": {
								"referenceName": "AzureDataLakeStorageProfisee",
								"type": "LinkedServiceReference"
							}
						}
					},
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['internalId']"
								},
								"sink": {
									"name": "internalId",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "['id']"
								},
								"sink": {
									"name": "id",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['code']"
								},
								"sink": {
									"name": "code",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['name']"
								},
								"sink": {
									"name": "name",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['address Line1']"
								},
								"sink": {
									"name": "address Line1",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['address Line2']"
								},
								"sink": {
									"name": "address Line2",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['city']"
								},
								"sink": {
									"name": "city",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['state']"
								},
								"sink": {
									"name": "state",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['country']"
								},
								"sink": {
									"name": "country",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['address Type']"
								},
								"sink": {
									"name": "address Type",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['customer']"
								},
								"sink": {
									"name": "customer",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['postcode']"
								},
								"sink": {
									"name": "postcode",
									"type": "String"
								}
							}
						],
						"collectionReference": "$['data']"
					}
				},
				"inputs": [
					{
						"referenceName": "Json1",
						"type": "DatasetReference",
						"parameters": {
							"filename": {
								"value": "@variables('EntityId')",
								"type": "Expression"
							},
							"container": {
								"value": "@variables('OutputContainer')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference",
						"parameters": {
							"tablename": {
								"value": "@concat(variables('EntityId'),'_Metadata')",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"variables": {
			"OutputContainer": {
				"type": "String",
				"defaultValue": "datasource1"
			},
			"EntityId": {
				"type": "String",
				"defaultValue": "Address"
			}
		},
		"folder": {
			"name": "CSV Format"
		},
		"annotations": [],
		"lastPublishTime": "2020-09-25T15:29:08Z"
	}
}